.console{

  margin: 25px auto;
  background-color: #000000;
  font-weight: bold;
  width: 500px;
  height: 350px;
  display: block;
  border: 3px dashed cornflowerblue;
}

.console-input{
  color: greenyellow;
  display: block;
}

.console-output{
  color: red;
}

.aviable-functions{

  list-style: none;
  color: cadetblue;
  background-color: #000000;
  font-weight: bold;
}
